@model dotnet_mvc_expense_tracker.Models.Kategori

@{
    ViewData["Title"] = "Tambah Kategori";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Form Tambah Kategori</h3>
    </div>
    <form asp-action="Create">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Tipe"></label>
                <select asp-for="Tipe" asp-items="Html.GetEnumSelectList<TipeKategori>()" class="form-control"></select>
                <span asp-validation-for="Tipe" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nama"></label>
                <input asp-for="Nama" class="form-control" placeholder="Masukkan Nama Kategori">
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Deskripsi"></label>
                <textarea asp-for="Deskripsi" class="form-control" rows="3" placeholder="Masukkan Deskripsi (opsional)"></textarea>
                <span asp-validation-for="Deskripsi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Simpan</button>
            <a asp-action="Index" class="btn btn-secondary">Batal</a>
        </div>
    </form>
</div>